/*media queries*/
@media screen and (max-width:410px) {
body{
	font-size: 12px;}

h1{
	font-size: 24px;}

h2{
	font-size: 18px;}

#navigation li { 
    display: inline-block;  
    float: none;  
    width: 50%;}  

.logo img{
	width: 30px;}

.logo p{
	font-size:14px;} 	
    
.logo2{
 	display: none;}
}


@media screen and (max-width: 470px) {
.footer_content li{
	font-size: 12px;}

.footer_content li img{
	width: 30px;}

.copyright{
	font-size:12px;}	

img#eyeleo{
	 max-width: 100%;}
}


@media screen and (max-width: 500px) {
#eyeleo{
	 max-width: 100%;}
}

@media screen and (min-width:535px) {
nav  a#pull {
	display: none;}
}	

@media screen and (max-width:535px) {
#navigation{
	padding-left: 30%;
	}

#navigation li {
	display: block;
	margin-top: 1em;
	position: relative;
	z-index: 1;}

#navigation li a {
	font-size: 12px;
	border-bottom: none;}

nav  a#pull {
	font-weight: bold;
	float: right;
	text-align: right;
	z-index: 1;
	text-decoration: none;  
    width: 62.3%;
    margin-top: 0.5em;  
    color: black;} 
    
.logo{
	max-width: 150px;}   
} 

@media screen and (max-width: 680px) {
#eyeleo{
	max-width: 350px;}

.footer_content li {
	margin-right: -3em;}

#footer_content li{
	text-align: center;
	margin-right: -3em;}

ul#footer_content li a img{
	text-align: center;
	width: 35px;}
}


@media screen and (max-width:922px) {
.footer_content li{
	float: none;
	margin-top: 5em;
	padding-left: 2em;}

#footer_content{
	margin-left: 2em;}

#footer_content li{
	float: none;
	margin-top: 5em;} 

.copyright{
	margin-top: 2em;}
}

@media screen and (max-width:992px){
.clearfix{
	text-align: center;}

}

@media screen and (max-width:1100px) {
.animation-legs{
	display: none;}
#computer{
	max-width: 80%;}
header{
	padding-left: 0;}
}


@media screen and (min-width: 1378px){
header{
	background-position: center bottom;}

footer{
	background-position: center top;}
}